include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        .container
            include pug/sections/_header.html
            include pug/sections/_main.html
            include pug/sections/_footer.html
